@charset "UTF-8";

body { 
	color:gray; 
}
a { 
	text-decoration:none; color:green;
}
a:hover { 
	text-decoration:underline; color:red;
}
table {
	width  : 500px;
	margin : 0  auto;
	border-collapse : collapse;
}
table, td {
	border : 1px solid black;	
}
tr > td:nth-of-type(1) { 
	width:50px; background-color:#ccc; 
} 